.idea
.vscode
.DS_Store
config.js
tsconfig.json
assets.json
node_modules/*
credentials/*
tmp/*
lib/*
logs/*
server/node_modules/*
pdffiller-node.sublime-project
pdffiller-node.sublime-workspace
dump.rdb
*.zip
*.log
Makefile
.module-cache
public/
coverage/
build/js/
